.masthead {
    padding: 6em 0;
    background-image:url('https://ununsplash.imgix.net/uploads/14132599381062b4d4ede/3b6f33f2?q=75&fm=jpg&s=ada04fb565c23d9c0a3c17c4ca55213d');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #160808;
}

.masthead-heading{
	text-align:center;
	margin-top:-0.2em;
}

.masthead-intro{
	text-align:center;
	margin-bottom: 0.1em;
}

p{
	text-align:justify;
}
.intro-section,
.location-section,
.question-section,
.footer{
	margin-left:auto;
	margin-right:auto;
	max-width:38em;
	margin-top:2em;
}

.question-section h2{
	color: #003fff;
}
.footer{
	background-color: #003fff;
	text-align:center;
	margin-top: 4em;
	padding:4em 421px;
}

.footer li{
	display:inline-block;
}